.container-section-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  @media (max-width:768px) {
    padding: 4rem 2rem;
  }

  @media (max-width:442px) {
    padding: 4rem 0;
  }
}